<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.drugoogle.sellscrm">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- GPS -->

    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 百度API所需权限 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 蒲公英SDK -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".common.MyApplication_"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--百度地图密钥-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="sA5kzuzg6HfmGgdkwOCpRbZDVWdFQ0Hr"/>
        <!--定位service-->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
        </service>

        <service
            android:name=".visit.VisitService"
            android:label="@string/auto_visit_location_service"
            android:icon="@mipmap/ic_launcher">
        </service>

        <receiver android:name=".common.BootReceiver" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".customer.SearchResultActivity_"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>

        </activity>

        <activity
            android:label="@string/app_name"
            android:name=".selfinfo.Selfinfo_login_Activity_"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".selfinfo.Selfinfo_verify_Activity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".selfinfo.Selfinfo_change_Activity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".workorder.WorkOrderActivity_"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <activity
            android:name=".selfinfo.Selfinfo_info_Activity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".selfinfo.Selfinfo_setting_Activity_"
            android:screenOrientation="portrait"/>

        <!-- 添加拜访计划页面 -->
        <activity
            android:name=".visit.AddVisitPlanActivity_"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <!-- 添加临时拜访记录页面 -->
        <activity
            android:name=".visit.AddTempVisitRecordActivity_"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <!-- 删除拜访记录图片 -->
        <activity
            android:name=".visit.ViewImageActivity_"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <!-- 拜访计划详情页面 -->
        <activity
            android:name=".visit.VisitPlanDetailActivity_"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>


        <!-- 拜访记录详情页面 -->
        <activity
            android:name=".visit.VisitRecordDetailActivity_"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <!-- 自动拜访客户列表 -->
        <activity
            android:name=".visit.AutoVisitClientListActivity_"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <!-- 系统误报页面 -->
        <activity
            android:name=".visit.SystemMisinformationActivity_"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <!-- 显示位置页面 -->
        <activity
            android:name=".visit.ShowLocationActivity_"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <!-- 客户列表-->
        <activity
            android:name=".customer.ClientListActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable" />
        </activity>
        <!--客户详情-->
        <activity
            android:name=".customer.CustomerDetailsActivity_"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <!--法人详情-->
        <activity
            android:name=".customer.LegalPersonActivity_"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <!-- 拜访搜索-->
        <activity
            android:name=".visit.VisitSearchActivity_"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <!--客户搜索结果-->
        <activity
            android:name=".customer.SearchResultActivity_"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity_">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity_"/>
            <!-- meta tag and intent filter go into results activity -->
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
        </activity>
        <!--地图-->
        <activity
            android:name=".customer.MapActivity_"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".customer.SetAddressActivity_"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".customer.AddressManagementActivity_"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".customer.AddressSelectActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".customer.DealListActivity_"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".customer.SaleRecordListActivity_"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".customer.SaleRecordActivity_"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <!--信用记录-->
        <activity
            android:name=".customer.CreditRecordListActivity_"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".customer.CreditRecordActivity_"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="PGYER_APPID"
            android:value="4330cddff4fcae25a0b47a29ad290cac" >
        </meta-data>

        <!--实验-->
        <activity android:name=".experiment.ExperimentActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".experiment.RiliExperimentActivity"
            android:screenOrientation="portrait">

        </activity>

    </application>

</manifest>
